# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/socket-server/node_modules
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/socket-server/socket-server.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Sentry Auth Token
.sentryclirc

# Auth keys
*.key
*.crt

# Socket server transpiled code
/socket-server/*.js
